body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #111;
  padding: 20px;
  margin: 0;
}
h1 {
  text-align: center;
  color: #073b0a;
  margin-bottom: 20px;
}
span{
  color: red;
}
.card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  margin: 0 auto 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}
input,
button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}
input[type="date"] {
  min-width: 140px;
}
button {
  background: #064d4a;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}
button:hover {
  background: #238d84;
}
#groceryList {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}
li {
  padding: 12px 16px;
  margin-bottom: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
  flex-wrap: wrap;
  position: relative;
}
li:hover {
  transform: scale(1.02);
}
.green {
  background: #d1fae5;
}
.orange {
  background: #fef3c7;
}
.red {
  background: #fee2e2;
  text-decoration: line-through;
}
.small {
  font-size: 12px;
  color: #555;
  margin-left: 6px;
}
.deleteBtn {
  background: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #555;
  font-size: 18px;
  margin-left: 10px;
  transition: color 0.2s;
}
.deleteBtn:hover {
  color: #ef4444;
}
#notificationsBtn {
  display: block;
  margin: 0 auto 20px;
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
    align-items: stretch;
  }
  input,
  button {
    width: 100%;
  }
  li {
    flex-direction: column;
    align-items: flex-start;
  }
  li button {
    margin-top: 8px;
    width: auto;
  }
}
